.btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #0d6efd;
}

.btn-secondary {
    color: #FFFFFF;
    background-color: #6c757d;
}

.btn-success {
    color: #FFFFFF;
    background-color: #198754;
}

.btn-danger {
    color: #FFFFFF;
    background-color: #dc3545;
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
}

.btn-info {
    color: #000;
    background-color: #0dcaf0;
}

.btn-light {
    color: #000;
    background-color: #f8f9fa;
}